* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    
}

body {
   
   
    padding: 0;
    background-color: #f9f9f9;
    font-family: "Poppins", "sans-serif";
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
      
    
}


.hello{
   
    font-weight: 300;
    margin:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
   
}

.container {
  
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    font-style: none;
   
    height: 10vh;
    
    
}

.contain{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;

       
    
}

.immaaa{

    max-width: 50px;
   max-height: 50px;
    
}



.sign-button, .order-button {
    background-color: #FF6F00;
    color: #f9f9f9;
    border: none;
    padding: 10px 20px;
  
    border-radius: 999px;
}

#spon{
    background-color: #FFE5B4;
    
}







.tagline span {
   
    padding: 5px 10px;
    border-radius: 5px;
    color: #FF6F00;
    border-radius: 999px;
}
.tagline p{
    width: 70%;
}
h1 {
    font-size: 24px;
    color: #FF6F00;
    margin: 0;
    padding: 0;
}

h1 span {
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.order-button {
    padding: 15px 30px;
    font-size: 18px;
}





h2 {
    font-size: 48px;
    color: #333;
    margin: 20px 0;
}

p {
    color: #666;
    margin: 20px 0;
}

.stats {
    display: flex;
    justify-content: left;
    margin: 30px 0;
}

.stats div {
    margin: 0 15px;
    text-align: center;
}

.stats div span {
    display: block;
    font-size: 24px;
    color: #FF6F00;
}

.image-section {
   width: 50%
}






.why-choose{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;

}
.description{
    width: 30%;
    
}
.cards{
    display: flex;
}
.card{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    width: 30%;
    text-align: center;
    justify-content: space-around;
    border-radius: 30px;
}
























.footer{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
   height: 20vh;
    font-style: none;
    margin-top: 70px;


}
.fea{
    list-style: none;
}
span{
    color: #FF6F00;

}
#hio{
    width: 40%;
}


